.merchListing {
    display: flex;
    justify-content: space-around;
    color: chartreuse;
}
.merchImage {
    display: flex;
}
    .merchImage img {
        height: 500px;
    }
.merchDescription {
    display: flex;
    flex-direction: column;
    color: grey;
}
    .merchDescription h1 {
        color: chartreuse;
        font-size: 30px;
        padding: 15px 5px;
    }
    .merchDescription p {
        font-size: 15px;
        padding: 0px 5px 50px 5px;
    }
    .merchDescription h2 {
        color: hotpink;
        font-size: 35px;
    }
// .merchButton {
//     color: chartreuse;
//     height: 15px;
//     width: 30px;
// }