.merchListing {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: chartreuse;
    max-width: 1000px;
    // margin-left: 175px;
}
.merchImage {
    display: flex;
}
    .merchImage img {
        height: 500px;
    }
.merchDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: grey;
}
    .merchDescription h1 {
        color: chartreuse;
        font-size: 30px;
        padding: 15px 5px;
    }
    .merchDescription p {
        font-size: 15px;
        padding: 0px 20px 50px 20px;
    }
    .merchDescription h2 {
        color: hotpink;
        font-size: 35px;
    }
// .merchButton {
//     color: chartreuse;
//     height: 15px;
//     width: 30px;
// }

@media(max-width:768px) {
    .merchListing {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
    }
}
@media(min-width:770px) {
    .merchListing {
        margin-left: 175px;
    }
}