.navbar__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    height: 150px;
    margin: 0 auto;
    padding: 15px 0px;
    background-color: black;
    color: grey;
    position: relative;
}
.navbar__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}
    .navbar__logo img {
        height: 260px;
        padding: 0px 20px;
    }   
.navbar__links {
    margin-left: auto;
}
    .navbar__links ul {
        display: flex;
        padding: 0;
    }
    .navbar__links li {
        list-style-type: none;
        margin: 0 1rem;
    }
    .navbar__links li a {
        text-decoration: none;
        display: block;
        width: 100%;
        color: grey;
        font-size: 25px;
        transition: color 0.25s ease-in-out;
    }
        .navbar__links li a:hover {
            color: chartreuse;
        }

.navbar__burger {
    height: 40px;
    width: 40px;
    font-size: 40px;
    padding: 0.5rem;
    color: grey;
    background-color: black;
    cursor: pointer;
    transition: color 0.25s ease-in-out;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
}
    .navbar__burger:hover {
        color: chartreuse;
    }

@media screen and (max-width:768px) {
    .navbar__burger {
        display: block;
    }
    .navbar__links ul {
        position: absolute;
        top: 150px;
        left: 0;
        flex-direction: column;
        width: 100%;
        height: calc(100vh - 77px);
        background-color: grey;
        border-top: 1px solid black;
        display: none;
    }
    
    .navbar__links.expanded ul {
        display: block;
        height: 300px;
    }
        .navbar__links li {
            text-align: center;
            margin: 0;
        }
            .navbar__links li a {
                color: black;
                width: 100%;
                padding: 3rem 0;
                text-decoration: none;
                font-size: 25px;
                transition: color 0.25s ease-in-out;
            }
            .navbar__links li a:hover {
                color: chartreuse;
            }
}

