.rotatingBanner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.rotatingBanner img {
    display: flex;
    align-items: center;
}